{% extends 'base.html' %}

{% block content %}
    <div class="content-info text-white">
      <h1>Welcome To Neighborhood</h1>
      <h4 style="font-size: larger;">Here we keep you updated with the latest happening around this area</h4>
    </div>
  <div class="container pb-5 mb-5">
    
    <h2 class="text-center pt-5 mb-5">Easily Accessible Business Around Us</h2>
    <div class="row">
      {% for business in businesses  %}
          <div class="col-md-4 p-3">
            <div class="card">
              <img src="{{business.business_image.url}}" alt="" class="img-fluid">
              <div class="card-body">
                <a href="{% url 'business-detail' business.pk %}"><p class="card-text">{{business.name}}</p></a>
                <p class="card-text">{{business.location}}</p>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
    <div class="div">
      <h3 class="pt-5 mt-5 text-center">Important Helplines For You</h3>
      <p>Get easy instant help </p>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="card">
            alt="police" style="height: 300px;">
          <div class="card-body">
            <p>Police</p>
            <p class="card-text">999</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p>Saint Johns Ambulance</p>
            <p class="card-text">919</p>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
            alt="police" style="height: 300px;">
          <div class="card-body">
            <p>FireFighters</p>
            <p class="card-text">999</p>
          </div>
        </div>
      </div>
      <div class="about text-center pt-5 mt-5">
        <h2>About</h2>
        <p class="pt-3">Neighborhood Area Code update enables the neighbours in this area to be updated with the latest area news and any concerns. <br>We all live in a society and are all bound to a neighborhood. Neighborhood is very important and it does definitely have an impact on what we are and how and where we live in. Unless we are happy in living in a good neighborhood, we could not get to live peacefully.</p>
      </div>
     
    </div>
  </div>

{% endblock %} 